<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>vue2</h1>
      <span>姓名 {{name}}</span>
      <input type="text" v-model="name" name="input1" />
      <span>年龄 {{other.age}}</span>
      <input type="number" v-model="other.age" name="input2" />
      <span>更深层 test {{other.test.aaa}}</span>
      <input type="number" v-model="other.test.aaa" name="input3" />
    </div>
    <script src="./Vue.js"></script>
    <script>
      // Vue2 是单例模式
      const vm = new Vue({
        el: "#app",
        data: {
          name: "zs",
          other: {
            age: 18,
            gender: 1,
            test: {
              aaa: 1,
            },
          },
        },
      });
      console.log("vm ===", vm);
    </script>
  </body>
</html>
